- content_for(:html_title) { '対応済一覧 (ご入金連絡済)' }

%li
  =link_to "みつもり未対応一覧", representative_backlog_index_path
%li
  =link_to "本日の対応件数", representative_today_index_path
%li
  =link_to "対応済一覧(ご入金未連絡)", representative_wip_index_path
%li
  営業成績 (
  =link_to "今月", representative_report_index_path(year_month: @this_month)
  \ /
  =link_to "先月", representative_report_index_path(year_month: @last_month)
  )

- if @orders.present?
  .container
    %table.neumorphic
      %thead
        %tr
          %th ご注文ID
          %th お名前
          %th お客様種別
          %th ご注文日
          %th ご注文種別
          %th 難易度
          %th 納品先
          %th 納品ご希望日
          %th 納品ご希望種別
          %th 社内納品日
          %th.payment ご入金日
          %th.payment ご入金額
          %th ご注文備考欄
          %th
      %tbody
        = render partial: 'order', collection: @orders, locals: { order: @orders }

- else
  %br
  ご入金確認連絡済のご注文はありません