- content_for(:html_title) { '指示書作成予定件数' }

.container
  %table.neumorphic
    %tbody
      %tr
        %th 納品日
        %th
          加工なし
          %br/
          🐭戸田公園第1
        %th
          シルクスクリーンA
          %br/
          🐭戸田公園第1
        %th
          加工なし
          %br/
          🐲美女木
        %th
          シルクスクリーンA
          %br/
          🐲美女木
        %th
          インクジェット
          %br/
          🐭戸田公園第1
        %th
          インクジェット
          %br/
          🐲美女木
        %th
          刺繍
          %br/
          🐭戸田公園第1
        %th
          刺繍
          %br/
          🐲美女木
        %th
          縫製
          %br/
          🐭戸田公園第1
        %th
          縫製
          %br/
          🐲美女木
        %th
          シルクスクリーンB
          %br/
          🐲美女木
        %th
          シルクスクリーンC
          %br/
          🐲美女木
        %th
          加工なし
          %br/
          🐯代々木
        %th
          シルクスクリーンD
          %br/
          🐯代々木
        %th
          カセット
          %br/
          🐯代々木
        %th
          UV
          %br/
          🐲美女木
      %tbody
        = render partial: 'day'
