- (Date.parse("#{@year_month_beginning}")..Date.parse("#{@end}")).each do |date|
  %tr
    %td
      = l(date, format: :middle, default: '')
    %td
      - @mizukami_number.transform_keys {|k| k+ Rational(9, 24)}
      - if @mizukami_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date] += v}[date] > 0
        = @mizukami_number.each_with_object(Hash.new(0)) {|(k, v), h| h[k.to_date] += v}[date]
