- content_for(:html_title) { '美女木工場 シルクスクリーンB '+l(@date.to_date - 1, format: :middle, default: '')+"制作➡"+ l(@date.to_date, format: :middle, default: '')+"納品のご注文一覧 (指示書作成済)"}

.container
  %table.neumorphic_pasteup
    %thead
      %tr
        %th ご注文ID
        %th お名前
        %th
        %th ご注文日
        %th 担当者
        %th 納品先
        %th 納品ご希望日
        %th 社内納品日
        %th ご入金予定
        %th.payment ご入金
        %th 発注状況
        %th 仕分け状況
        %th ご注文備考欄
        %th
    %tbody
      = render partial: 'pasteup/order', collection: @orders, locals: { order: @orders }
