%td
  -# = @silkscreen_toda1.where(orders: { internal_delivery_date: @count_day += 1 }).count
%td
  -# = @bijogi.where(orders: { internal_delivery_date: @count_day += 1 }).count
%td

%td

%td

%td

%td

%td

%td

%td

%td

%td
  