.nested-fields.form-inline
  %br/
  .form-group
  = f.label :payment_note, "ご入金備考欄"
  = f.text_area :payment_note
  = f.hidden_field :user_id, value: current_user.id
  %br/
  %br/
  = link_to_remove_association "ご入金備考を削除❌", f