%h2 納品予定件数
.container
  %table.neumorphic
    %tbody
      %tr
        %th
        %th{colspan: "2"}シルクスクリーンA
        %th{colspan: "2"}インクジェット
        %th{colspan: "2"}刺繍
        %th{colspan: "2"}縫製
        %th シルクスクリーンB
        %th シルクスクリーンC
        %th シルクスクリーンD
        %th UV
      %tr
        %th 日付
        %td 戸田公園第1
        %td 美女木
        %td 戸田公園第1
        %td 美女木
        %td 戸田公園第1
        %td 美女木
        %td 戸田公園第1
        %td 美女木
        %td 戸田公園第1
        %td 美女木
        %td 中野(代々木)
        %td 美女木
      %tbody
        = render partial: 'day', locals: { order: @orders }
