- content_for(:html_title) { '納品予定件数・制作済件数' }
.container
  %table.neumorphic
    %tbody
      %tr
        %th 納品日
        %th
          ｼﾙｸｽｸﾘｰﾝA
          %br/
          ❓工場未定
        %th
          加工なし
          %br/
          🐭戸田公園第1
        %th
          ｼﾙｸｽｸﾘｰﾝA
          %br/
          🐭戸田公園第1
        %th
          加工なし
          %br/
          🐲美女木
        %th
          ｼﾙｸｽｸﾘｰﾝA
          %br/
          🐲美女木
        %th
          ｲﾝｸｼﾞｪｯﾄ
          %br/
          ❓工場未定
        %th
          ｲﾝｸｼﾞｪｯﾄ
          %br/
          🐭戸田公園第1
        %th
          ｲﾝｸｼﾞｪｯﾄ
          %br/
          🐲美女木
        %th
          刺繍
          %br/
          ❓工場未定
        %th
          刺繍
          %br/
          🐭戸田公園第1
        %th
          刺繍
          %br/
          🐲美女木
        %th
          縫製
          %br/
          ❓工場未定
        %th
          縫製
          %br/
          🐭戸田公園第1
        %th
          縫製
          %br/
          🐲美女木
        %th
          ｼﾙｸｽｸﾘｰﾝB
          %br/
          🐲美女木
        %th
          ｼﾙｸｽｸﾘｰﾝC
          %br/
          🐲美女木
        %th
          加工なし
          %br/
          🐯代々木
        %th
          ｼﾙｸｽｸﾘｰﾝD
          %br/
          🐯代々木
        %th
          ｶｾｯﾄ
          %br/
          🐯代々木
        %th
          UV
          %br/
          🐲美女木
      %tbody
        = render partial: 'day'

%br/
%br/
%h2{style:'text-align:center'} 🏭工場別
.container
  %table.neumorphic
    %tbody
      %tr
        %th 納品日
        %th 🐭戸田公園第1
        %th 🐲美女木
        %th 🐯代々木
      %tbody
        = render partial: 'day_by_factory'