-#%h2
-#  あたらしい注文管理システム
-#
-#.container
-#  %table.neumorphic
-#    %thead
-#      %tr
-#        %th ご注文ID
-#        %th お客様種別/お名前
-#        %th
-#          ご注文種別
-#          %br/
-#          (みつもり難易度)
-#        %th ご注文日
-#        %th 担当者
-#        %th 納品先
-#        %th 納品ご希望日
-#        %th 納品ご希望種別
-#        %th 社内納品日
-#        %th ご入金期限
-#        %th ご入金予定額
-#        %th.payment ご入金日
-#        %th.payment ご入金額
-#        %th 発注状況
-#        %th 仕分け状況
-#        %th ご注文備考欄
-#    %tbody
-#      = render partial: 'order', collection: @orders, locals: { order: @orders }

問題が発生したため、全件表示は一時停止中です
%br/
下記アドレスの <ご注文ID>の部分を 任意のIDに変えると、詳細が表示されます
%br/
%br/
http://13.230.227.187/orders/<ご注文ID>/edit