- content_for(:html_title) { 'あたらしい注文管理システム : 全てのご注文一覧' }

%h3
  %br/
  #{paginate @orders}

.container
  %table.neumorphic
    %thead
      %tr
        -#%th ステータス
        %th{style:'top: 91px;'}
          ご注文ID
        %th{style:'top: 91px;'}
          お客様種別/お名前
        %th{style:'top: 91px;'}
          履歴
        %th{style:'top: 91px;'}
          ご注文種別
        %th{style:'top: 91px;'}
          ご注文日
        %th{style:'top: 91px;'}
          担当者
        %th{style:'top: 91px;'}
          納品先
        %th{style:'top: 91px;'}
          納品ご希望日
        %th{style:'top: 91px;'}
          社内納品日
        %th{style:'top: 91px;'}
          ご入金期限
        %th{style:'top: 91px;'}
          ご入金予定額
        %th.payment{style:'top: 91px;'}
          ご入金日
        %th.payment{style:'top: 91px;'}
          ご入金額
        %th{style:'top: 91px;'}
          発注状況
        %th{style:'top: 91px;'}
          ご注文備考欄
        %th{style:'top: 91px;'}
          　
    %tbody
      = render partial: 'order', collection: @orders, locals: { order: @orders }

%h3
  %br/
  #{paginate @orders}