%h2
  国内発注作業中 (社内納品日順) 全#{@orders.count}件

%li
  =link_to "国内発注未完了 (社内納品日あり/社内納品日順)", domestic_buying_backlog_all_index_path
%li
  =link_to "国内発注未完了 (ご入金あり/社内納品日順)", domestic_buying_backlog_paid_index_path
%li
  =link_to "国内発注未完了 (ご入金あり/ご入金日順)", domestic_buying_backlog_payment_date_index_path
%li
  =link_to "国内発注未完了 (社内納品日なし/ご入金日順)", domestic_buying_backlog_blank_index_path
-#%li
-#  =link_to "国内発注作業中 (社内納品日順)", domestic_buying_wip_index_path
%li
  =link_to "国内発注作業中 (発注担当者順)",  domestic_buying_wip_buying_user_index_path
%li
  =link_to "国内発注完了 (社内納品日順)", domestic_buying_done_index_path

.container
  %table.neumorphic
    %thead
      %tr
        %th ご注文ID
        %th お客様種別/お名前
        %th 社内納品日
        %th 工場
        %th ご入金
        %th 国内発注状況
        %th 発注備考欄
        %th ご注文備考欄
        %th
    %tbody
      = render partial: 'domestic_buying/order', collection: @orders, locals: { order: @orders }
