.container {
}

table.neumorphic {
  margin: auto;
  width: 600px;
  border-spacing: 0;
  color: #212121;
  text-align: center;
  box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);

  thead {
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);
  }

  th {
    background: #e0e5ec;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);

    white-space: nowrap;
    padding: 7px;

    position: sticky;
    top: 0;
    z-index: 1;
  }

  th.payment{
    color: dodgerblue;
  }

  > tbody > tr {
    > td {
      overflow: hidden;

      white-space: nowrap;
      padding: 5px 10px;
      font-size: 10px;
      position: relative;

      &.yellow{
        color: red;
        font-weight: bold;
        text-shadow: yellow 1px 1px 1px, yellow -1px 1px 1px, yellow 1px -1px 1px, yellow -1px -1px 1px;
      }
      &.blue{
        color: dodgerblue;
        font-weight: bold;
        text-shadow: lightblue 1px 1px 1px, lightblue -1px 1px 1px, lightblue 1px -1px 1px, lightblue -1px -1px 1px;
      }
    }

    &:hover {
      padding: 20px;
      box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);
    }
  }

  tr td:first-child::before {
    content: "";
    position: absolute;
    padding: 7px;
    top: 0;
    left: -5000px;
    width: 10000px;
    height: 100%;
    z-index: -10;
  }

  td:hover::after {
    content: "";
    position: absolute;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.6);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }
}

.nested-fields.well.well-compact {
  margin: 10px;
  border: dashed 1px #333333;
  border-radius: 10px;
  width: 300px;
  padding: 10px;
}

#technique{
  margin: 10px;
  border: dashed 1px #333333;
  border-radius: 10px;
  width: 280px;
  padding: 10px 20px;
}

.change_delivery_date{
  font-size: 14px;
  line-height: 13px;
  color: red;
  margin: 8px 3px;
}