/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "order";
@import "scaffolds";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{font-family: 'Noto Sans JP', sans-serif;
}

header{
  background: #e0e5ec;
  position: sticky;
  position: -webkit-sticky;
  height: 30px;
  top: 0;
  z-index: 100;

  &__title{
    color: #333;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    filter: drop-shadow(0px 0px 2px #b4b4b4);
  }
}