html
  font-family: helvetica,hiragino-kaku-go

#wrapper
  width: 750px
  border: solid 2px #000000

  div
    box-sizing: border-box

.row
  display: flex

  /*border:dashed 0.1px;

  div
    padding: 3px

#row1
  height: 30px

#label
  width: 200px
  border: solid 1px #000000
  text-align-last: justify
  text-align: center
  background: #00A1D5
  font-weight: bold

#body-order-date
  width: 250px
  float: left
  border: solid 1px #000000

#payment
  width: 100px
  border: solid 1px #000000

#address-label
  width: 200px
  border: solid 1px #000000

#row2
  height: 60px

#customer-name
  width: 550px
  border: solid 1px #000000
  font-size: 28px
  display: flex
  align-items: flex-end

  span
    margin: 0 0 0 auto
    float: right

#address
  width: 200px
  border: solid 1px #000000
  font-size: 24px

#row3
  height: 70px

#delivery-date
  width: 400px
  border: solid  1px #000000
  box-sizing: border-box

#year
  padding: 1px
  border: solid  1px #000000
  font-size: 7pt

#date
  padding: 0px
  font-size: 24pt

#date-note
  font-size: 7pt

#special-mark
  width: 150px
  border: solid 1px #000000
  box-sizing: border-box

#absoluteness
  width: 200px
  border: solid 1px #000000
  box-sizing: border-box
  font-size: 24px
  display: flex
  text-align: center
  justify-content: center
  align-items: center

#row4
  height: 30px

#id-label
  width: 50px
  border: solid 1px #000000
  text-align-last: justify
  text-align: center
  font-weight: bold

#id-box
  width: 700px
  border: solid 1px #000000

#row5
  height: 30px
  font-size: 8pt
  display: flex

#blank
  width: 50px
  border: solid 1px #000000

#row5
  #picking, #fabrication, #confirmation, #inspection, #packing
    border: solid 1px #000000
    width: 140px

#manufacturing-label
  width: 50px
  border: solid 1px #000000

#manufacturing-box
  width: 420px
  border: solid 1px #000000
  font-weight: bold

#row6
  height: 30px

#pasteup, #representive
  border: solid 1px #000000
  width: 140px
  font-size: 8pt

#row7
  height: 30px

#status-label
  width: 50px
  border: solid 0.5px #000000

#status-box
  width: 700px
  border: solid 0.5px #000000

#row8
  height: 700px
  border: solid 0.5px #000000

#row9
  height: 60px

#note-label
  width: 50px
  border: solid 0.5px #000000

#note-box
  width: 700px
  border: solid 1px #000000
