body {
  height: 100%;
  background: #e0e5ec;
  color: #333;
  //margin: 33px;
  font-size: 11px;
  line-height: 18px;
}

li{
  list-style: none;
}

p, ol, ul, td {
  font-size: 10px;
  margin: 0;
  padding: 0px 5px;
  border: 0;
  font: inherit;
  list-style: none;
}

#red{
  color: deeppink;
  text-shadow: pink 1px 1px 1px, lightpink -1px 1px 1px, lightpink 1px -1px 1px, lightpink -1px -1px 1px;
}

#redyellow{
  color: deeppink;
  font-weight: bold;
  text-shadow: yellow 1px 1px 1px, yellow -1px 1px 1px, yellow 1px -1px 1px, yellow -1px -1px 1px;
}

#yellowred{
  color: yellow;
  font-weight: bold;
  text-shadow: deeppink 1px 1px 1px, deeppink -1px 1px 1px, deeppink 1px -1px 1px, deeppink -1px -1px 1px;
}

#green{
  color: mediumseagreen;
  text-shadow: palegreen 1px 1px 1px, palegreen -1px 1px 1px, palegreen 1px -1px 1px, palegreen -1px -1px 1px;
}

#lightblue{
  color: cornflowerblue;
  text-shadow: lightblue 1px 1px 1px, lightblue -1px 1px 1px, lightblue 1px -1px 1px, lightblue -1px -1px 1px;
}

#toda1{
  color: dodgerblue;
  text-shadow: lightblue 1px 1px 1px, lightblue -1px 1px 1px, lightblue 1px -1px 1px, lightblue -1px -1px 1px;
}

#nakano{
  color: seagreen;
  text-shadow: palegreen 1px 1px 1px, palegreen -1px 1px 1px, palegreen 1px -1px 1px, palegreen -1px -1px 1px;
}

#bijogi{
  color: mediumslateblue;
  text-shadow: plum 1px 1px 1px, plum -1px 1px 1px, plum 1px -1px 1px, plum -1px -1px 1px;
}

#fubi{
  a{
    color: deeppink;
    &:hover {
      background-color: yellow;
    }
  }
  color: deeppink;
  font-weight: bold;
  text-shadow: yellow 1px 1px 1px, yellow -1px 1px 1px, yellow 1px -1px 1px, yellow -1px -1px 1px;
}

#kono{
  a{
    color: yellow;
    &:hover {
      background-color: hotpink;
    }
  }
  color: yellow;
  font-weight: bold;
  text-shadow: hotpink 1px 1px 1px, hotpink -1px 1px 1px, hotpink 1px -1px 1px, hotpink -1px -1px 1px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 10px;
}

a {
  color: #333;

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 11px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 11px;
    list-style: none;
  }
}

label {
  display: block;
}


